<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="./img/vr.jpg" alt="wew" class="img-thumbnail rounded-circle " width="200" />
      <h1 class="display-4">Monsta Rand</h1>
      <p class="lead">Front-End | Web Design</p>
    </div>
  </div>
</div>
